.main-section{
    background: rgb(216, 216, 216);
    padding: 40px;
}
.span1{
    width: 100px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: Black;
    text-align: right;
    margin-right: 5px;
}
input[type="text"] {
    background: #a0a0a0;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 18;
    font-weight: 500;
}